<h1>welcome to Bookers !!</br>
In Bookers,</h1>

you can share and exchange your opinions , inpressions , and emotions

about various books!

<%= link_to 'Login', new_user_session_path %>
<%= link_to 'SignUp', new_user_registration_path %>
CopyRight Infratop.inc
